In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from google.colab import files

In [3]:
uploaded = files.upload()

Saving football_CLEAN.csv to football_CLEAN.csv

In [4]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

User uploaded file "football_CLEAN.csv" with length 34648 bytes

In [5]:
uploaded

{'football_CLEAN.csv': b"name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing\r\nAlexis Sanchez,Arsenal,28,LW,1,65,4329,12,17.10%,264,3,Chile,0,4,1,1,0\r\nMesut Ozil,Arsenal,28,AM,1,50,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0\r\nPetr Cech,Arsenal,35,GK,4,7,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0\r\nTheo Walcott,Arsenal,28,RW,1,20,2393,7.5,1.50%,122,1,England,0,4,1,1,0\r\nLaurent Koscielny,Arsenal,31,CB,3,22,912,6,0.70%,121,2,France,0,4,1,1,0\r\nHector Bellerin,Arsenal,22,RB,3,30,1675,6,13.70%,119,2,Spain,0,2,1,1,0\r\nOlivier Giroud,Arsenal,30,CF,1,22,2230,8.5,2.50%,116,2,France,0,4,1,1,0\r\nNacho Monreal,Arsenal,31,LB,3,13,555,5.5,4.70%,115,2,Spain,0,4,1,1,0\r\nShkodran Mustafi,Arsenal,25,CB,3,30,1877,5.5,4.00%,90,2,Germany,0,3,1,1,1\r\nAlex Iwobi,Arsenal,21,LW,1,10,1812,5.5,1.00%,89,4,Nigeria,0,1,1,1,0\r\nGranit Xhaka,Arsenal,24,DM,2,35,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0\r\nAlex Oxlade-Chamberlain,Arsenal,23,RM,2,22,1519,6,1.80%,83,1,England,0,2,1,1,0\r\nJack Wilshere,Arsenal,25,CM,2,18,1759,5.5,0.00%,61,1,England,0,3,1,1,0\r\nAaron Ramsey,Arsenal,26,CM,2,35,1040,7,5.10%,56,1,Wales,0,3,1,1,0\r\nFrancis Coquelin,Arsenal,26,DM,2,15,549,4.5,1.70%,52,2,France,0,3,1,1,0\r\nGabriel Paulista,Arsenal,26,CB,3,13,552,5,0.10%,45,3,Brazil,0,3,1,1,0\r\nKieran Gibbs,Arsenal,27,LB,3,10,489,5,0.50%,45,1,England,0,3,1,1,0\r\nSanti Cazorla,Arsenal,32,CM,2,12,943,7,0.10%,38,2,Spain,0,5,1,1,0\r\nDanny Welbeck,Arsenal,26,CF,1,15,1521,7.5,0.50%,37,1,England,0,3,1,1,0\r\nRob Holding,Arsenal,21,CB,3,7,666,5,1.70%,32,1,England,0,1,1,1,1\r\nMohamed Elneny,Arsenal,25,DM,2,10,683,4.5,0.80%,26,4,Egypt,0,3,1,1,0\r\nLucas Perez,Arsenal,28,CF,1,15,2055,7.5,0.10%,20,2,Spain,0,4,1,1,1\r\nEmiliano Martinez,Arsenal,24,GK,4,1,372,4,4.20%,8,3,Argentina,0,2,1,1,0\r\nDavid Ospina,Arsenal,28,GK,4,7,544,5,0.20%,2,3,Colombia,0,4,1,1,0\r\nCarl Jenkinson,Arsenal,25,RB,3,5,561,4.5,0.40%,2,1,England,0,3,1,1,0\r\nPer Mertesacker,Arsenal,32,CB,3,6,702,5,1.00%,1,2,Germany,0,5,1,1,0\r\nSead Kolasinac,Arsenal,24,LB,3,15,618,6,6.90%,0,2,Bosnia,1,2,1,1,0\r\nAlexandre Lacazette,Arsenal,26,CF,1,40,1183,10.5,26.50%,0,2,France,1,3,1,1,0\r\nJoshua King,Bournemouth,25,SS,1,8,997,7.5,10.40%,178,2,Norway,0,3,2,0,0\r\nJermain Defoe,Bournemouth,34,CF,1,5,3213,8,15.00%,166,1,England,0,6,2,0,0\r\nCharlie Daniels,Bournemouth,30,LB,3,3,185,5,19.80%,134,1,England,0,4,2,0,0\r\nArtur Boruc,Bournemouth,37,GK,4,1,436,4.5,6.90%,120,2,Poland,0,6,2,0,0\r\nSteve Cook,Bournemouth,26,CB,3,5,184,5,2.00%,112,1,England,0,3,2,0,0\r\nJunior Stanislas,Bournemouth,27,LW,1,4.5,315,6,0.60%,107,1,England,0,3,2,0,0\r\nAdam Smith,Bournemouth,26,RB,3,5,200,5,0.90%,104,1,England,0,3,2,0,0\r\nRyan Fraser,Bournemouth,23,LW,1,5,516,5.5,1.60%,100,2,Scotland,0,2,2,0,0\r\nSimon Francis,Bournemouth,32,RB,3,2.5,167,4.5,4.00%,89,1,England,0,5,2,0,0\r\nBenik Afobe,Bournemouth,24,CF,1,10,528,6,0.70%,88,4,Congo DR,0,2,2,0,0\r\nHarry Arter,Bournemouth,27,CM,2,2.5,666,5,0.90%,84,2,Ireland,0,3,2,0,0\r\nMarc Pugh,Bournemouth,30,LW,1,2,140,5,0.10%,64,1,England,0,4,2,0,0\r\nCallum Wilson,Bournemouth,25,CF,1,10,337,6,0.20%,63,1,England,0,3,2,0,0\r\nNathan Ake,Bournemouth,22,CB,3,8,1274,5,11.50%,55,2,Netherlands,0,2,2,0,0\r\nDan Gosling,Bournemouth,27,CM,2,3,184,5,0.10%,49,1,England,0,3,2,0,0\r\nAndrew Surman,Bournemouth,30,CM,2,2,154,4.5,1.10%,44,1,England,0,4,2,0,0\r\nJordon Ibe,Bournemouth,21,RW,1,8,504,5,0.40%,36,1,England,0,1,2,0,0\r\nLewis Cook,Bournemouth,20,CM,2,6,243,4.5,0.80%,17,1,England,0,1,2,0,0\r\nLys Mousset,Bournemouth,21,CF,1,4,131,5,0.10%,14,2,France,0,1,2,0,0\r\nAdam Federici,Bournemouth,32,GK,4,1,126,4,1.50%,8,4,Australia,0,5,2,0,0\r\nMax Gradel,Bournemouth,29,LW,1,7,287,5,0.10%,8,4,Cote d'Ivoire,0,4,2,0,0\r\nTyrone Mings,Bournemouth,24,CB,3,5,422,4.5,0.40%,4,1,England,0,2,2,0,0\r\nBrad Smith,Bournemouth,23,LB,3,2,297,4,3.30%,4,4,Australia,0,2,2,0,0\r\nAsmir Begovic,Bournemouth,30,GK,4,8,697,4.5,9.30%,2,2,Bosnia,0,4,2,0,0\r\nNiki Maenpaa,Brighton+and+Hove,32,GK,4,0.25,103,4,2.10%,0,2,Finland,0,5,3,0,0\r\nMathew Ryan,Brighton+and+Hove,25,GK,4,3.5,344,4.5,1.50%,0,4,Australia,0,3,3,0,0\r\nLewis Dunk,Brighton+and+Hove,25,CB,3,5,140,4.5,4.10%,0,1,England,0,3,3,0,0\r\nShane Duffy,Brighton+and+Hove,25,CB,3,5,243,4.5,0.60%,0,2,Ireland,0,3,3,0,0\r\nUwe Hunemeier,Brighton+and+Hove,31,CB,3,1.5,88,4,8.00%,0,2,Germany,0,4,3,0,0\r\nBruno,Brighton+and+Hove,36,RB,1,0.5,215,4.5,0.40%,0,3,Argentina,0,6,3,0,0\r\nGaetan Bong,Brighton+and+Hove,29,LB,3,1.5,97,4.5,0.20%,0,4,Cameroon,0,4,3,0,0\r\nLiam Rosenior,Brighton+and+Hove,33,RB,3,1,132,4,3.20%,0,1,England,0,5,3,0,0\r\nConnor Goldson,Brighton+and+Hove,24,CB,3,0.75,52,4,0.80%,0,1,England,0,2,3,0,0\r\nMarkus Suttner,Brighton+and+Hove,30,LB,3,2,23,4.5,0.20%,0,2,Austria,0,4,3,0,0\r\nAnthony Knockaert,Brighton+and+Hove,25,RW,1,8,726,6,4.80%,0,2,France,0,3,3,0,0\r\nDale Stephens,Brighton+and+Hove,27,CM,2,5,122,4.5,0.90%,0,1,England,0,3,3,0,0\r\nBeram Kayal,Brighton+and+Hove,29,CM,2,1.25,167,4.5,0.30%,0,4,Israel,0,4,3,0,0\r\nSteve Sidwell,Brighton+and+Hove,34,CM,2,1,461,4.5,0.60%,0,1,England,0,6,3,0,0\r\nSolly March,Brighton+and+Hove,23,RM,2,0.5,139,5,0.20%,0,1,England,0,2,3,0,0\r\nJiri Skalak,Brighton+and+Hove,25,LW,1,1.5,87,5,0.10%,0,2,Czech Republic,0,3,3,0,0\r\nOliver Norwood,Brighton+and+Hove,26,CM,2,2.5,134,4.5,0.20%,0,2,Northern Ireland,0,3,3,0,0\r\nJamie Murphy,Brighton+and+Hove,27,LW,1,1.75,114,5,0.10%,0,2,Scotland,0,3,3,0,0\r\nPascal Gross,Brighton+and+Hove,26,CM,2,4,22,5.5,0.30%,0,2,Germany,0,3,3,0,0\r\nGlenn Murray,Brighton+and+Hove,33,CF,1,3.5,496,6,1.30%,0,1,England,0,5,3,0,0\r\nTomer Hemed,Brighton+and+Hove,30,CF,1,2.5,253,5,0.40%,0,4,Israel,0,4,3,0,0\r\nSam Baldock,Brighton+and+Hove,28,CF,1,3,204,5,0.20%,0,1,England,0,4,3,0,0\r\nTom Heaton,Burnley,31,GK,4,4,717,5,13.50%,149,1,England,0,4,4,0,0\r\nSam Vokes,Burnley,27,CF,1,4.5,290,6,2.90%,121,2,Wales,0,3,4,0,0\r\nAndre Gray,Burnley,26,CF,1,10,687,6.5,1.70%,108,1,England,0,3,4,0,0\r\nBen Mee,Burnley,27,CB,3,6,166,4.5,13.70%,94,1,England,0,3,4,0,0\r\nStephen Ward,Burnley,31,LB,3,1.5,152,4.5,2.50%,91,2,Ireland,0,4,4,0,0\r\nMatthew Lowton,Burnley,28,RB,3,2.5,121,4.5,1.20%,90,1,England,0,4,4,0,0\r\nAshley Barnes,Burnley,27,CF,1,2.5,287,5.5,1.20%,81,1,England,0,3,4,0,0\r\nJeff Hendrick,Burnley,25,CM,2,6,352,5.5,0.20%,76,2,Ireland,0,3,4,0,1\r\nScott Arfield,Burnley,28,LM,2,3,304,5,0.10%,69,3,Canada,0,4,4,0,0\r\nSteven Defour,Burnley,29,CM,2,6,336,5.5,0.20%,54,2,Belgium,0,4,4,0,1\r\nDean Marney,Burnley,33,CM,2,1,171,4.5,0.00%,51,1,England,0,5,4,0,0\r\nJack Cork,Burnley,28,DM,2,5,204,4.5,0.50%,50,1,England,0,4,4,0,0\r\nJohann Berg Gudmundsson,Burnley,26,RW,1,2.5,180,5,0.10%,47,2,Iceland,0,3,4,0,1\r\nRobbie Brady,Burnley,25,LM,2,10,614,5.5,0.40%,39,2,Ireland,0,3,4,0,0\r\nJames Tarkowski,Burnley,24,CB,3,2,116,4.5,0.10%,23,1,England,0,2,4,0,0\r\nAshley Westwood,Burnley,27,DM,2,4,161,4.5,0.10%,13,1,England,0,3,4,0,0\r\nKevin Long,Burnley,26,CB,3,0.5,68,4,1.70%,3,2,Ireland,0,3,4,0,0\r\nMatthew Taylor,Burnley,35,LM,2,0.25,255,4.5,0.40%,0,1,England,0,6,4,0,0\r\nEden Hazard,Chelsea,26,LW,1,75,4220,10.5,2.30%,224,2,Belgium,0,3,5,1,0\r\nDiego Costa,Chelsea,28,CF,1,50,4454,10,3.00%,196,2,Spain,0,4,5,1,0\r\nGary Cahill,Chelsea,31,CB,3,16,1420,6.5,12.00%,178,1,England,0,4,5,1,0\r\nMarcos Alonso Mendoza,Chelsea,26,LB,3,25,3069,7,12.40%,177,2,Spain,0,3,5,1,1\r\nCesar Azpilicueta,Chelsea,27,RB,3,30,869,6.5,12.30%,170,2,Spain,0,3,5,1,0\r\nPedro,Chelsea,29,RW,1,28,1500,8,7.80%,162,2,Spain,0,4,5,1,0\r\nThibaut Courtois,Chelsea,25,GK,4,40,1260,5.5,18.50%,141,2,Belgium,0,3,5,1,0\r\nDavid Luiz,Chelsea,30,CB,3,30,2745,6,20.30%,132,3,Brazil,0,4,5,1,0\r\nCesc Fabregas,Chelsea,30,CM,2,35,2378,7,7.50%,121,2,Spain,0,4,5,1,0\r\nWillian,Chelsea,28,RW,1,32,1165,7,9.00%,114,3,Brazil,0,4,5,1,0\r\nVictor Moses,Chelsea,26,RM,2,18,2537,6.5,0.20%,105,4,Nigeria,0,3,5,1,0\r\nNemanja Matic,Chelsea,28,DM,2,35,892,5,5.00%,105,2,Serbia,0,4,5,1,0\r\nN%27Golo Kante,Chelsea,26,DM,2,50,4042,5,13.80%,83,2,France,0,3,5,1,1\r\nWilly Caballero,Chelsea,35,GK,4,1.5,542,5,0.20%,64,3,Argentina,0,6,5,1,0\r\nMichy Batshuayi,Chelsea,23,CF,1,25,1162,8.5,1.60%,48,2,Belgium,0,2,5,1,1\r\nKurt Zouma,Chelsea,22,CB,3,15,723,5.5,0.80%,15,2,France,0,2,5,1,0\r\nKenedy,Chelsea,21,LB,3,7,566,5,0.10%,3,3,Brazil,0,1,5,1,0\r\nEduardo Carvalho,Chelsea,34,LW,1,0.05,467,5,0.10%,0,2,Portugal,0,6,5,1,1\r\nAntonio Rudiger,Chelsea,24,CB,3,25,454,6,6.40%,0,2,Germany,1,2,5,1,0\r\nTiemoue Bakayoko,Chelsea,22,DM,2,16,1011,5,1.60%,0,2,France,1,2,5,1,0\r\nWilfried Zaha,Crystal+Palace,24,RW,1,18,1709,7,20.90%,149,4,Cote d'Ivoire,0,2,6,0,0\r\nChristian Benteke,Crystal+Palace,26,CF,1,28,1661,8,10.50%,136,2,Belgium,0,3,6,0,1\r\nAndros Townsend,Crystal+Palace,26,RW,1,12,693,6,2.70%,116,1,England,0,3,6,0,1\r\nPatrick van Aanholt,Crystal+Palace,26,LB,3,9,524,5.5,4.20%,98,2,Netherlands,0,3,6,0,0\r\nJames McArthur,Crystal+Palace,29,CM,2,7,216,4.5,10.90%,93,2,Scotland,0,4,6,0,0\r\nWayne Hennessey,Crystal+Palace,30,GK,4,4,242,4.5,2.10%,92,2,Wales,0,4,6,0,0\r\nJason Puncheon,Crystal+Palace,31,AM,1,5.5,427,5,1.20%,92,1,England,0,4,6,0,0\r\nYohan Cabaye,Crystal+Palace,31,CM,2,15,456,5.5,1.40%,91,2,France,0,4,6,0,0\r\nJoel Ward,Crystal+Palace,27,RB,3,5,154,5,0.60%,86,1,England,0,3,6,0,0\r\nJames Tomkins,Crystal+Palace,28,CB,3,7,208,4.5,2.00%,75,1,England,0,4,6,0,1\r\nScott Dann,Crystal+Palace,30,CB,3,5,217,5,1.10%,61,1,England,0,4,6,0,0\r\nDamien Delaney,Crystal+Palace,36,CB,3,1,195,4.5,0.60%,51,2,Ireland,0,6,6,0,0\r\nJeffrey Schlupp,Crystal+Palace,24,LB,3,8,385,5,0.30%,47,4,Ghana,0,2,6,0,0\r\nMartin Kelly,Crystal+Palace,27,RB,3,3,210,4.5,0.30%,46,1,England,0,3,6,0,0\r\nLuka Milivojevic,Crystal+Palace,26,DM,2,10,407,5,0.20%,42,2,Serbia,0,3,6,0,0\r\nLee Chung-yong,Crystal+Palace,29,RW,1,1.5,327,4.5,0.10%,24,4,South Korea,0,4,6,0,0\r\nConnor Wickham,Crystal+Palace,24,CF,1,6,248,5.5,0.00%,18,1,England,0,2,6,0,0\r\nBakary Sako,Crystal+Palace,29,LW,1,6,226,5,0.10%,7,4,Mali,0,4,6,0,0\r\nPape Souare,Crystal+Palace,27,LB,3,6,186,4.5,0.00%,6,4,Senegal,0,3,6,0,0\r\nRuben Loftus-Cheek,Crystal+Palace,21,CM,2,5,685,4.5,16.40%,6,1,England,0,1,6,0,0\r\nJulian Speroni,Crystal+Palace,38,GK,4,0.25,188,4,2.00%,0,3,Argentina,0,6,6,0,0\r\nRoss Barkley,Everton,23,AM,1,25,1413,7.5,0.70%,144,1,England,0,2,7,0,0\r\nLeighton Baines,Everton,32,LB,3,12,491,6,10.00%,135,1,England,0,5,7,0,0\r\nSeamus Coleman,Everton,28,RB,3,17,843,6.5,0.40%,133,2,Ireland,0,4,7,0,0\r\nAshley Williams,Everton,32,CB,3,8,599,5.5,4.70%,127,2,Wales,0,5,7,0,1\r\nKevin Mirallas,Everton,29,RW,1,13,417,6.5,3.20%,119,2,Belgium,0,4,7,0,0\r\nMichael Keane,Everton,24,CB,3,18,1362,5.5,13.10%,113,1,England,0,2,7,0,0\r\nPhil Jagielka,Everton,34,CB,3,2,566,5,6.30%,104,1,England,0,6,7,0,0\r\nJordan Pickford,Everton,23,GK,4,15,719,5,14.60%,102,1,England,0,2,7,0,0\r\nJoel Robles,Everton,27,GK,4,5,304,4.5,0.40%,89,2,Spain,0,3,7,0,0\r\nIdrissa Gueye,Everton,27,CM,2,18,705,5,1.30%,80,4,Senegal,0,3,7,0,1\r\nWayne Rooney,Everton,31,SS,1,15,7664,7.5,20.90%,76,1,England,0,4,7,0,0\r\nRamiro Funes Mori,Everton,26,CB,3,12,460,5,0.10%,69,3,Argentina,0,3,7,0,0\r\nMaarten Stekelenburg,Everton,34,GK,4,2,623,4.5,0.30%,68,2,Netherlands,0,6,7,0,1\r\nGareth Barry,Everton,36,DM,2,1.5,1331,4.5,1.70%,68,1,England,0,6,7,0,0\r\nTom Davies,Everton,19,CM,2,8,1354,5.5,1.00%,63,1,England,0,1,7,0,0\r\nMason Holgate,Everton,20,CB,3,5,344,4.5,2.90%,54,1,England,0,1,7,0,0\r\nYannick Bolasie,Everton,28,LW,1,20,896,6.5,0.20%,45,4,Congo DR,0,4,7,0,1\r\nMorgan Schneiderlin,Everton,27,DM,2,22,1272,5,0.90%,37,2,France,0,3,7,0,1\r\nCuco Martina,Everton,27,RB,3,2,232,4.5,0.40%,31,2,Curacao,0,3,7,0,0\r\nJames McCarthy,Everton,26,CM,2,15,306,5,0.10%,23,2,Ireland,0,3,7,0,0\r\nAaron Lennon,Everton,30,RW,1,5,504,5.5,0.20%,22,1,England,0,4,7,0,0\r\nDominic Calvert-Lewin,Everton,20,SS,1,3.5,343,5,0.30%,17,1,England,0,1,7,0,1\r\nAdemola Lookman,Everton,19,LW,1,5,1387,5.5,0.30%,16,1,England,0,1,7,0,0\r\nMatthew Pennington,Everton,22,CB,3,0.5,219,4,1.70%,9,1,England,0,2,7,0,0\r\nJonjoe Kenny,Everton,20,RB,3,0.25,53,4.5,0.20%,1,1,England,0,1,7,0,0\r\nMuhamed Besic,Everton,24,DM,2,5,238,4.5,0.20%,0,2,Germany,0,2,7,0,0\r\nDavy Klaassen,Everton,24,AM,1,18,428,7.5,3.60%,0,2,Netherlands,1,2,7,0,0\r\nSandro Ramirez,Everton,22,CF,1,10,373,7.5,2.10%,0,2,Spain,1,2,7,0,0\r\nJoel Coleman,Huddersfield,21,GK,4,0.25,36,4,2.40%,0,1,England,0,1,8,0,0\r\nJonas Lossl,Huddersfield,28,GK,4,1.5,56,4.5,0.50%,0,2,Denmark,0,4,8,0,0\r\nChristopher Schindler,Huddersfield,27,CB,3,2,73,4.5,0.90%,0,2,Germany,0,3,8,0,0\r\nChris Lowe,Huddersfield,28,LB,3,1.5,84,4.5,0.70%,0,2,Germany,0,4,8,0,0\r\nTommy Smith,Huddersfield,25,RB,3,2,65,5,1.10%,0,1,England,0,3,8,0,0\r\nMichael Hefele,Huddersfield,26,CB,3,1.5,116,4.5,0.20%,0,2,Germany,0,3,8,0,0\r\nMartin Cranie,Huddersfield,30,CB,3,0.5,67,4,1.40%,0,1,England,0,4,8,0,0\r\nJon Gorenc Stankovic,Huddersfield,21,CB,3,0.5,83,4,1.10%,0,2,Slovenia,0,1,8,0,0\r\nMark Hudson,Huddersfield,35,CB,3,0.5,70,4,1.40%,0,1,England,0,6,8,0,0\r\nMathias Jorgensen,Huddersfield,27,CB,3,2.5,107,4.5,0.20%,0,2,Denmark,0,3,8,0,0\r\nScott Malone,Huddersfield,26,LB,3,0.75,81,4.5,0.10%,0,1,England,0,3,8,0,0\r\nAaron Mooy,Huddersfield,26,CM,2,5,588,5.5,2.50%,0,4,Australia,0,3,8,0,0\r\nRajiv van La Parra,Huddersfield,26,LW,1,2,174,5,0.30%,0,2,Netherlands,0,3,8,0,0\r\nJonathan Hogg,Huddersfield,28,CM,2,1,75,4.5,0.30%,0,1,England,0,4,8,0,0\r\nPhilip Billing,Huddersfield,21,CM,2,0.5,157,4.5,0.10%,0,2,Denmark,0,1,8,0,0\r\nJoe Lolley,Huddersfield,24,RW,1,0.25,63,4.5,0.10%,0,1,England,0,2,8,0,0\r\nJack Payne,Huddersfield,25,CM,2,0.25,81,4.5,0.10%,0,1,England,0,3,8,0,0\r\nDean Whitehead,Huddersfield,35,CM,2,0.25,161,4.5,0.10%,0,1,England,0,6,8,0,0\r\nHarry Bunn,Huddersfield,24,LW,1,0.5,85,4.5,0.10%,0,1,England,0,2,8,0,0\r\nSean Scannell,Huddersfield,26,RW,1,0.5,85,4.5,0.10%,0,2,Ireland,0,3,8,0,0\r\nElias Kachunga,Huddersfield,25,RW,1,3.5,231,6,0.60%,0,4,Congo DR,0,3,8,0,0\r\nTom Ince,Huddersfield,25,RW,1,7,512,6,2.60%,0,1,England,0,3,8,0,0\r\nKasey Palmer,Huddersfield,20,AM,1,0.75,220,5.5,0.20%,0,1,England,0,1,8,0,0\r\nAndy Williams,Huddersfield,26,CB,3,0.65,3,5,0.10%,0,3,Trinidad and Tobago,0,3,8,0,0\r\nNahki Wells,Huddersfield,27,CF,1,5,247,5,0.60%,0,3,Bermuda,0,3,8,0,0\r\nCollin Quaner,Huddersfield,26,CF,1,1,126,4.5,1.60%,0,2,Germany,0,3,8,0,0\r\nLaurent Depoitre,Huddersfield,28,CF,1,3,212,5.5,0.30%,0,2,Belgium,0,4,8,0,0\r\nSteve Mounie,Huddersfield,22,CF,1,5.5,56,6,0.60%,0,4,Benin,0,2,8,0,0\r\nJamie Vardy,Leicester+City,30,CF,1,15,2988,8.5,1.50%,161,1,England,0,4,9,0,0\r\nRiyad Mahrez,Leicester+City,26,RW,1,30,1753,8.5,1.70%,120,4,Algeria,0,3,9,0,0\r\nKasper Schmeichel,Leicester+City,30,GK,4,10,1601,5,2.40%,109,2,Denmark,0,4,9,0,0\r\nChristian Fuchs,Leicester+City,31,LB,3,6,417,5,3.50%,104,2,Austria,0,4,9,0,0\r\nMarc Albrighton,Leicester+City,27,LM,2,6,347,5.5,1.10%,95,1,England,0,3,9,0,0\r\nRobert Huth,Leicester+City,32,CB,3,5,748,5,0.60%,88,2,Germany,0,5,9,0,0\r\nDanny Simpson,Leicester+City,30,RB,3,5,428,4.5,5.50%,85,1,England,0,4,9,0,0\r\nIslam Slimani,Leicester+City,29,CF,1,25,1581,7,0.70%,83,4,Algeria,0,4,9,0,1\r\nHarry Maguire,Leicester+City,24,CB,3,8,488,5,1.50%,71,1,England,0,2,9,0,0\r\nDanny Drinkwater,Leicester+City,27,CM,2,9,714,5,0.20%,69,1,England,0,3,9,0,0\r\nWes Morgan,Leicester+City,33,CB,3,3,649,4.5,3.30%,63,3,Jamaica,0,5,9,0,0\r\nShinji Okazaki,Leicester+City,31,CF,1,7,607,5.5,1.20%,63,4,Japan,0,4,9,0,0\r\nWilfred Ndidi,Leicester+City,20,DM,2,14,821,5,0.50%,59,4,Nigeria,0,1,9,0,1\r\nDemarai Gray,Leicester+City,21,LW,1,9,593,5.5,1.10%,58,1,England,0,1,9,0,0\r\nDaniel Amartey,Leicester+City,22,DM,2,5,356,4.5,0.30%,53,4,Ghana,0,2,9,0,0\r\nAndy King,Leicester+City,28,CM,2,3,327,4.5,0.70%,41,2,Wales,0,4,9,0,0\r\nAhmed Musa,Leicester+City,24,CF,1,17,742,6.5,1.50%,39,4,Nigeria,0,2,9,0,1\r\nYohan Benalouane,Leicester+City,30,CB,3,1,305,4.5,0.10%,27,4,Tunisia,0,4,9,0,0\r\nLeonardo Ulloa,Leicester+City,30,CF,1,6,472,5,0.20%,24,2,Argentina,0,4,9,0,0\r\nBen Chilwell,Leicester+City,20,LB,3,2.5,288,4.5,0.80%,19,1,England,0,1,9,0,0\r\nNampalys Mendy,Leicester+City,25,DM,2,10,325,4.5,0.10%,6,2,France,0,3,9,0,1\r\nBen Hamer,Leicester+City,29,GK,4,0.5,132,4.5,0.10%,0,1,England,0,4,9,0,0\r\nMolla Wague,Leicester+City,26,CB,3,1.5,171,4.5,0.00%,0,4,Mali,0,3,9,0,0\r\nVicente Iborra,Leicester+City,29,DM,2,9,253,6,0.80%,0,2,Spain,1,4,9,0,0\r\nRoberto Firmino,Liverpool,25,SS,1,38,2196,8.5,20.30%,180,3,Brazil,0,3,10,1,0\r\nPhilippe Coutinho,Liverpool,25,AM,1,45,2958,9,30.80%,171,3,Brazil,0,3,10,1,0\r\nSadio Mane,Liverpool,25,LW,1,40,3219,9.5,5.30%,156,4,Senegal,0,3,10,1,1\r\nGeorginio Wijnaldum,Liverpool,26,CM,2,28,1280,7,7.10%,149,2,Netherlands,0,3,10,1,1\r\nJames Milner,Liverpool,31,CM,2,12,1824,6.5,10.40%,139,1,England,0,4,10,1,0\r\nAdam Lallana,Liverpool,29,AM,1,25,1808,7.5,6.40%,139,1,England,0,4,10,1,0\r\nNathaniel Clyne,Liverpool,26,RB,3,21,602,5.5,4.50%,129,1,England,0,3,10,1,0\r\nSimon Mignolet,Liverpool,29,GK,4,12,721,5,1.60%,110,2,Belgium,0,4,10,1,0\r\nDejan Lovren,Liverpool,28,CB,3,17,708,5.5,1.30%,106,2,Croatia,0,4,10,1,0\r\nEmre Can,Liverpool,23,DM,2,15,1253,5,6.60%,104,2,Germany,0,2,10,1,0\r\nJoel Matip,Liverpool,25,CB,3,25,1313,5.5,2.30%,97,2,Cameroon,0,3,10,1,1\r\nDivock Origi,Liverpool,22,CF,1,12,1092,7.5,0.40%,96,2,Belgium,0,2,10,1,0\r\nJordan Henderson,Liverpool,27,CM,2,28,1236,5.5,1.80%,73,1,England,0,3,10,1,0\r\nDaniel Sturridge,Liverpool,27,CF,1,20,2042,8,4.30%,54,1,England,0,3,10,1,0\r\nLucas Leiva,Liverpool,30,DM,2,7,998,4.5,0.30%,47,3,Brazil,0,4,10,1,0\r\nRagnar Klavan,Liverpool,31,CB,3,3.5,875,4.5,0.40%,43,2,Estonia,0,4,10,1,1\r\nMamadou Sakho,Liverpool,27,CB,3,15,934,5,0.10%,35,2,France,0,3,10,1,0\r\nLoris Karius,Liverpool,24,GK,4,8,1255,5,0.20%,32,2,Germany,0,2,10,1,0\r\nTrent Alexander-Arnold,Liverpool,18,RB,3,1.5,327,4.5,0.30%,15,2,England,0,1,10,1,0\r\nAlberto Moreno,Liverpool,25,LB,3,10,397,4.5,0.30%,8,2,Spain,0,3,10,1,0\r\nBen Woodburn,Liverpool,17,LW,1,1.5,1241,4.5,0.10%,5,1,Wales,0,1,10,1,0\r\nMarko Grujic,Liverpool,21,CM,2,5,615,4.5,0.20%,4,2,Serbia,0,1,10,1,0\r\nJoe Gomez,Liverpool,20,CB,3,4,460,4.5,0.40%,0,1,England,0,1,10,1,0\r\nSheyi Ojo,Liverpool,20,LW,1,2,383,5,0.10%,0,1,England,0,1,10,1,0\r\nMohamed Salah,Liverpool,25,RW,1,35,1117,9,12.40%,0,4,Egypt,1,3,10,1,0\r\nDanny Ings,Liverpool,24,CF,1,8,748,5.5,0.10%,0,1,England,0,2,10,1,0\r\nDominic Solanke,Liverpool,19,CF,1,2,671,5,2.00%,0,1,England,0,1,10,1,0\r\nKevin De Bruyne,Manchester+City,26,AM,1,65,2252,10,17.50%,199,2,Belgium,0,3,11,1,0\r\nSergio Aguero,Manchester+City,29,CF,1,65,4046,11.5,9.70%,175,3,Argentina,0,4,11,1,0\r\nRaheem Sterling,Manchester+City,22,LW,1,45,2074,8,3.80%,149,1,England,0,2,11,1,0\r\nKyle Walker,Manchester+City,27,RB,3,30,1008,6.5,18.50%,142,1,England,0,3,11,1,0\r\nDavid Silva,Manchester+City,31,AM,1,30,1434,8,3.30%,130,2,Spain,0,4,11,1,0\r\nLeroy Sane,Manchester+City,21,LW,1,35,2302,8.5,8.80%,105,2,Germany,0,1,11,1,1\r\nNicolas Otamendi,Manchester+City,29,CB,3,30,621,5.5,3.30%,100,3,Argentina,0,4,11,1,0\r\nAleksandar Kolarov,Manchester+City,31,LB,3,10,633,5.5,1.10%,95,2,Serbia,0,4,11,1,0\r\nYaya Toure,Manchester+City,34,CM,2,8,2318,6.5,2.50%,86,4,Cote d'Ivoire,0,6,11,1,0\r\nFernandinho,Manchester+City,32,DM,2,18,595,5,0.80%,78,3,Brazil,0,5,11,1,0\r\nClaudio Bravo,Manchester+City,34,GK,4,8,436,5,1.20%,73,3,Chile,0,6,11,1,1\r\nGabriel Jesus,Manchester+City,20,CF,1,30,4254,10.5,15.20%,67,3,Brazil,0,1,11,1,1\r\nJohn Stones,Manchester+City,23,CB,3,35,1078,5.5,2.30%,59,1,England,0,2,11,1,1\r\nVincent Kompany,Manchester+City,31,CB,3,22,935,6,6.60%,57,2,Belgium,0,4,11,1,0\r\nKelechi Iheanacho,Manchester+City,20,CF,1,15,1662,7,1.50%,52,4,Nigeria,0,1,11,1,0\r\nIlkay Gundogan,Manchester+City,26,CM,2,30,1586,5.5,1.00%,41,2,Germany,0,3,11,1,1\r\nFernando,Manchester+City,32,DM,2,18,338,4.5,0.40%,18,3,Brazil,0,5,11,1,0\r\nFabian Delph,Manchester+City,27,CM,2,8,520,4.5,0.40%,13,1,England,0,3,11,1,0\r\nEderson Moraes,Manchester+City,23,GK,4,22,297,5.5,4.50%,0,3,Brazil,1,2,11,1,0\r\nBernardo Silva,Manchester+City,22,RW,1,40,1098,8,4.60%,0,2,Portugal,1,

In [6]:
import io

In [7]:
train= pd.read_csv(io.StringIO(uploaded['football_CLEAN.csv'].decode('utf-8')))
train.head()

                name     club  age  ... club_id  big_club  new_signing
0     Alexis Sanchez  Arsenal   28  ...       1         1            0
1         Mesut Ozil  Arsenal   28  ...       1         1            0
2          Petr Cech  Arsenal   35  ...       1         1            0
3       Theo Walcott  Arsenal   28  ...       1         1            0
4  Laurent Koscielny  Arsenal   31  ...       1         1            0

[5 rows x 17 columns]

In [8]:
train.drop(['name'],axis=1,inplace=True)
train.head()

      club  age position  position_cat  ...  age_cat  club_id  big_club new_signing
0  Arsenal   28       LW             1  ...        4        1         1           0
1  Arsenal   28       AM             1  ...        4        1         1           0
2  Arsenal   35       GK             4  ...        6        1         1           0
3  Arsenal   28       RW             1  ...        4        1         1           0
4  Arsenal   31       CB             3  ...        4        1         1           0

[5 rows x 16 columns]

In [9]:
train.drop(['club'],axis=1,inplace=True)
train.head()

   age position  position_cat  ...  club_id  big_club  new_signing
0   28       LW             1  ...        1         1            0
1   28       AM             1  ...        1         1            0
2   35       GK             4  ...        1         1            0
3   28       RW             1  ...        1         1            0
4   31       CB             3  ...        1         1            0

[5 rows x 15 columns]

In [10]:
train.drop(['position'],axis=1,inplace=True)
train.head()

   age  position_cat  market_value  ...  club_id  big_club new_signing
0   28             1          65.0  ...        1         1           0
1   28             1          50.0  ...        1         1           0
2   35             4           7.0  ...        1         1           0
3   28             1          20.0  ...        1         1           0
4   31             3          22.0  ...        1         1           0

[5 rows x 14 columns]

In [11]:
train.drop(['nationality'],axis=1,inplace=True)
train.head()

   age  position_cat  market_value  ...  club_id  big_club new_signing
0   28             1          65.0  ...        1         1           0
1   28             1          50.0  ...        1         1           0
2   35             4           7.0  ...        1         1           0
3   28             1          20.0  ...        1         1           0
4   31             3          22.0  ...        1         1           0

[5 rows x 13 columns]

In [12]:
train['FPL_SEL'] = pd.to_numeric(train['fpl_sel'].str[:-1])
train.head()

   age  position_cat  market_value  ...  big_club  new_signing FPL_SEL
0   28             1          65.0  ...         1            0    17.1
1   28             1          50.0  ...         1            0     5.6
2   35             4           7.0  ...         1            0     5.9
3   28             1          20.0  ...         1            0     1.5
4   31             3          22.0  ...         1            0     0.7

[5 rows x 14 columns]

In [13]:
train.drop(['fpl_sel'],axis=1,inplace=True)
train.head()

   age  position_cat  market_value  ...  big_club  new_signing  FPL_SEL
0   28             1          65.0  ...         1            0     17.1
1   28             1          50.0  ...         1            0      5.6
2   35             4           7.0  ...         1            0      5.9
3   28             1          20.0  ...         1            0      1.5
4   31             3          22.0  ...         1            0      0.7

[5 rows x 13 columns]

In [14]:
X= train.drop('market_value',axis=1)
Y= train['market_value']

In [15]:
from sklearn.model_selection  import train_test_split

In [16]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25, random_state=101)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(345, 12)
(116, 12)
(345,)
(116,)

In [17]:
from sklearn.ensemble import GradientBoostingRegressor
REGGB = GradientBoostingRegressor(alpha=0.99, learning_rate=0.1, loss='lad', max_depth=6, max_features=1.0, min_samples_leaf=2, min_samples_split=19, n_estimators=100, subsample=0.8)
REGGB.fit(X_train, Y_train)

GradientBoostingRegressor(alpha=0.99, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='lad', max_depth=6,
                          max_features=1.0, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=2, min_samples_split=19,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=0.8, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [18]:
from sklearn import metrics

In [19]:
pred_GB= REGGB.predict(X_test)

In [20]:
RMSE = np.sqrt(metrics.mean_squared_error(Y_test, pred_GB))
print(RMSE)

4.703395439245372

In [21]:
print ('Regression: R^2 score on training set', REGGB.score(X_train,Y_train))
print ('Regression: R^2 score on test set', REGGB.score(X_test,Y_test))

Regression: R^2 score on training set 0.935703267474638
Regression: R^2 score on test set 0.8429547932487611